<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.wanted.mapper.HiringMapper">
	<insert id="insertHiring">
		insert into hiring (company_id, title, content, reward, skill)
		values (#{company_id}, #{title}, #{content}, #{reward}, #{skill})
	</insert>
	
	<update id="updateHiring">
		update hiring
		set company_id = #{company_id}, 
		title =#{title},
		content = #{content}, 
		reward = #{reward}, 
		skill = #{skill}
		where hiring_id = #{hiring_id}
	</update>
	
	<delete id="deleteHiring">
		delete 
		from hiring
		where hiring_id=#{hiring_id}
	</delete>
	
	<select id="selectHiring"
		resultType="com.wanted.domain.HiringDTO">
		select *
		from hiring
		where hiring_id=#{hiring_id}
	</select>

	<select id="selectHiring_idList" resultType="String">
		select hiring_id
		from hiring
		where company_id=#{company_id}
	</select>

	<select id="selectHiringList" parameterType="String" 
	resultType="com.wanted.domain.HiringDTO" >
		select *
		from hiring
		where hiring_id LIKE CONCAT('%', #{syntax}, '%')
    	or title LIKE CONCAT('%', #{syntax}, '%')
    	or content LIKE CONCAT('%', #{syntax}, '%')
    	or reward LIKE CONCAT('%', #{syntax}, '%')
    	or skill LIKE CONCAT('%', #{syntax}, '%')
    	or company_id LIKE CONCAT('%', #{syntax}, '%')
	</select>
</mapper>